@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/* VARIABLES */
:root {
  --padding-sections: 40px;
  --header-height: 70px;

  --header-color-light: #5684b0;
  --header-color-dark: #410606;

  --body-color-light: #be6734;
  --body-color-dark: #272020;

  --text-color-light: #000000;
  --text-color-dark: #ffffff;

  --form-color-light: #deb887;
  --form-color-dark: #685b4b;
  --font-family: "Poppins";
}

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: var(--body-color-light);
  color: var(--text-color-light);
}

/* HEADER */
header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--header-color-light);
  color: var(--text-color-light);
  height: var(--header-height);
  transition: 0.4s;
}

.logo {
  width: 200px;
  font-size: 50px;
  font-weight: 500;

  flex-grow: 1;
  padding-left: 50px;
}

nav {
  margin-right: 30px;
  font-weight: 1000;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

.menu-icon {
  display: none;
}

.switch-icon {
  right: 5px;
  font-size: 25px;
  color: #ffffff;
  padding-right: 20px;
}

.hidden {
  display: none;
}

/* RESPONSIVE MENU SET-UP */

@media (max-width: 768px) {
  nav {
    position: absolute;
    top: var(--header-height);
    background-color: var(--header-color-light);
    width: 100%;
  }

  .logo p {
    font-weight: 500;
    font-size: 30px;
  }

  .menu-icon {
    display: block;
    margin-right: 30px;
    font-size: 23px;
    color: white;
  }

  nav li {
    display: block;
    text-align: center;
    margin: 5px 0px;
  }

  .hidden-menu {
    display: none;
  }
}

/* DARK MODES BODY + HEADER */

body.darkMode {
  background-color: var(--body-color-dark);
  color: var(--text-color-dark);
}

header.darkMode {
  background-color: var(--header-color-dark);
  color: var(--text-color-dark);
}

/* SECTION SHOWCASE */

.showcase {
  display: flex;
  justify-content: space-around;
}

.showcase-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease-in-out;
}

/* SHOWCASE - img zoom in/out upon hover  */
.showcase-img-wrapper {
  overflow: hidden;
  width: calc(1 / 3 * 100%);
}

.showcase-img-wrapper :hover {
  transform: scale(1.3);
}

/* SECTION ABOUT-US */

.about-us {
  transition: 0.4s;
}

.about-us-wrapper {
  display: Flex;
  justify-content: space-around;
  padding: var(--header-height);
  margin: 0 auto;
}

.about-us-text {
  padding-right: 40px;
  text-align: justify;
}
.about-us-text h1 {
  text-align: center;
}

.about-us-img {
  background-image: url(../img/IMG_US.JPG);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  flex-shrink: 0;
  width: 40%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .about-us-wrapper {
    flex-direction: column;
  }
  .about-us-text {
    width: 100%;
    padding-right: 0;
  }
  .about-us-img {
    width: 100%;
    height: 200px;
  }
}

/* SECTION FOOD */

.food {
  padding: var(--padding-sections);
  border: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  margin: 0 auto;
}

.food-img-wrapper {
  width: calc(100% / 3.1);
  position: relative;
  margin: 0 auto;
}

.food-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.food-nadpis-wrapper {
  width: calc(100% / 3.1);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nadpis-food {
  text-align: center;
  font-size: 40px;
}

/* SECTION FOOD  - responzive set-up - mobile */

@media screen and (max-width: 768px) {
  .food {
    flex-direction: column;
  }

  .food-img-wrapper {
    width: 100%;
  }

  .food-nadpis-wrapper {
    width: 100%;
  }
}

/* SECTION FORMULAR */

.formApplication {
  margin: auto 0px;
  padding: 20px 0px 20px 0px;
  font-size: 13px;
  font-weight: 800;
}

form {
  background-color: var(--form-color-light);
  margin: 0px auto;
  padding: 20px 30px;
  width: 60%;
  border-radius: 20px;
}

.formApplication h1 {
  width: 100%;
  padding-bottom: 15px;
}

.form-desc-wrapper {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-top: 5px;
}

.form-input {
  background-color: rgb(230, 214, 193);
  padding: 8px 12px;
  margin: 5px;
  width: 75%;
  font-size: 12px;
  font-weight: 800;
}

.text-counter {
  font-size: 10px;
}

.form-input textarea {
  width: 100%;
  overflow: hidden;
}

input[type="submit"] {
  width: 120px;
  height: 30px;
  border-radius: 30px;
  background-color: #ceccca;
  font-weight: 800;
}

/* FORMULAR DARK MODE */

form.darkMode {
  background-color: var(--form-color-dark);
}

/* FORMULAR - Alert style */
.form-alert {
  width: 40%;
  color: #c00808;
  font-size: 100%;
  background-color: #ffffff;
  text-align: center;
  margin: 0px auto;
  border-radius: 10px;
}
.text-counter {
  width: 95%;
  text-align: right;
}
/* FORMULAR style change for phones */

@media screen and (max-width: 768px) {
  .form-desc-wrapper {
    display: list-item;
    list-style-type: none;
    width: 100%;
  }

  .form-input {
    width: 100%;
    margin: 0px;
  }

  .form-input::placeholder {
    font-size: 10px;
  }
}

/* SCROLL-UP BUTTON */

.up-button {
  position: fixed;
  color: white;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
}

.up-button:hover {
  color: #000;
}

/* FOOTER SECTION */

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-size: cover;
  width: 100%;
  font-size: 80%;
}

.footer-contacts {
  text-align: center;
}

.footer-table-contacts {
  margin: 0px auto;
}
