/* General set-up */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

:root {
  --padding-sections: 40px;
  --header-height: 70px;
}

/* HEADER */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #15304c;
  height: var(--header-height);
}

.logo {
  flex-grow: 1;
}

.logo img {
  max-width: 200px;
  margin-left: 20px;
}

nav {
  margin-right: 30px;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.menu-icon {
  display: none;
  margin-right: 30px;
}
/*----------*/

/* MAIN */

.welcome {
  background-image: url(./img/background.webp);
  min-height: calc(100vh - var(--header-height));
  background-size: cover;
  background-position: center;
}

/*----------*/

/* Viewport 600px or less*/

@media (max-width: 600px) {
  header {
    position: relative;
  }

  .logo img {
    width: 80%;
    min-width: 100px;
  }

  nav {
    position: absolute;
    top: var(--header-height);
    background-color: #15304c;
    width: 100%;
  }

  /*visibilita pro <nav>, definovaná separátně přes class.
  Class poté odebíráme/přidáváme přes js., ale Js. tím nezíská mít vyšší specifičnost než styly v CSS
  (k čemuž by došlo při přímé úpravě stylu "display / visibility" přes Js)
  
  */
  .hidden {
    display: none;
  }

  .menu-icon {
    display: block;
    font-size: 23px;
    color: white;
  }

  nav li {
    display: block;
    text-align: center;
    margin: 10px 0px;
  }
}
