/* VARIABLES */
:root {
  --padding-sections: 40px;
  --header-height: 60px;
  --header-color-light: #5684b0;
  --header-color-dark: #860804;
  --body-color-light: #be6734;
  --body-color-dark: #860804;
}

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* VYMAZAT */
  /* border: 1px solid rgb(2, 2, 2); */
}

/* HEADER */
header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--header-color-light);
  height: var(--header-height);
}

.logo {
  width: 200px;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  flex-grow: 1;
}

nav {
  margin-right: 30px;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

.menu-icon {
  color: white;
  display: none;
}

.switch-icon {
  /* position: absolute; */
  right: 10px;
  font-size: 25px;
  /*tohle ještě bude třeba upravit. Vyzkoušet jak se chová při skrolování*/
  color: yellow;
  padding-right: 20px;
}

/* ---------------------------------- */

/* RESPONSIVE MENU SET-UP */

@media (max-width: 768px) {
  nav {
    position: absolute;
    top: var(--header-height);
    background-color: var(--header-color-light);
    width: 100vw;
    /* display: none; */
    /* testing alternative way of hiding the "nav" */
    /* visibility: hidden; */
  }

  .menu-icon {
    display: block;
    margin-right: 30px;
    font-size: 23px;
    color: white;
  }

  nav li {
    display: block;
    text-align: center;
    margin: 20px 0px;
  }

  .hidden {
    display: none;
  }
}

/* ---------------------------------- */

/* SECTION SHOWCASE */

.showcase {
  display: flex;
  justify-content: space-around;
}

.showcase-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease-in-out;
  /*plynulost animace zvětšení */
  /*V případě více úprav při "hover" lze použít toto níže */
  /* transition: all 1s linear; */
}

.showcase-img-wrapper {
  overflow: hidden;
  width: calc(1 / 3 * 100%);
}

.showcase-img-wrapper :hover {
  transform: scale(1.3);
  /* animace zvětšení*/
}

/* SECTION ABOUT-US */

.about-us {
  background-color: var(--body-color-light);
}

.about-us-wrapper {
  display: Flex;
  justify-content: space-around;
  padding: var(--header-height);
}

.about-us-text {
  padding-right: 40px;
  text-align: center;
}

.about-us-img {
  background-image: url(./img/FXT18608.JPG);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  /* background-repeat: no-repeat; */
  /* flex-basis: 400px; */
  flex-shrink: 0;
  width: 40%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .about-us-wrapper {
    flex-direction: column;
  }
  .about-us-text {
    width: 100%;
    padding-right: 0;
  }
  .about-us-img {
    width: 100%;
    height: 200px;
  }
}

/* SECTION FORMULAR */

.formApplication {
  margin: auto 0px;
  background-color: var(--body-color-light);
}

form {
  background-color: burlywood;
  margin: 0px auto;
  padding: 20px 30px;
  width: 60%;
}

.form-desc-wrapper {
  display: inline-block;
  width: 20%;
}

.form-input {
  background-color: rgb(230, 214, 193);
  padding: 8px 12px;
  width: 75%;
}

input[type="submit"] {
  width: 120px;
  height: 30px;
  border-radius: 30px;
}

footer {
  background-size: cover;
}

.footer-details {
  height: 10vh;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .form-desc-wrapper {
    display: list-item; /* Chanign to display description above the form input fields*/
    width: 100%;
  }

  .form-input {
    width: 100%;
  }
}
